version: "3.9"

services:
  gateway:
    build: ./gateway
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - transport_service

  transport_service:
    build: ./services/transport_service
    env_file:
      - .env
