# FastAPI và Web Framework
fastapi
uvicorn[standard]
python-multipart

# Pydantic cho validation
pydantic
pydantic-settings

# Supabase Client
supabase
postgrest
aiokafka
# Environment variables
python-dotenv

# Async support
httpx